# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
*.mdc
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.windsurfrules
supabase/.temp/cli-latest
.dockerignore
docker-compose.yml
Dockerfile
src/env.d.ts
tsconfig.app.json
supabase/.branches/_current_branch
supabase/.temp/gotrue-version
supabase/.temp/pooler-url
supabase/.temp/postgres-version
supabase/.temp/project-ref
supabase/.temp/rest-version
supabase/functions/deno.json
supabase/functions/import_map.json
eslint.config.js
supabase/functions/deno.jsonc
eslint.config.js
supabase/types/deno.d.ts
